.listItem, .listItem tr{
  background-color: #669966;
  color: black;
  border-radius: 0;
  border: 1px solid black;
  margin: 150px;
  padding: 15px;
}
.darker {
  background-color: #4f834f !important;
}
.listItem .task, .listItem .delete, .listItem .date {
  width: 300px;
  height: 50px;
  padding: 5px 5px;
}
.listItem .date, .listItem .task{ text-align: left; }
.listItem .task { 
  word-wrap: break-word;
  padding-left: 15px;
}
.listItemCenter { width: 200px; }

.listItem .delete {
  text-align: right;
  padding-right: 15px;
}
.delete .buttonDelete {
  background: darkred;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
}
.delete .buttonDelete:hover {
  background: black;
  cursor:pointer;
}
@media only screen and (max-width: 667px) {
  .listItem .date, .listItem .task, .listItem .delete{
    width: 100%;
  }
  .listItem .date {
    display: none !important;
  }
  .delete .buttonDelete {
    width: 75px;
  }
}