.flex{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.createTask #taskInput {
  max-width: 300px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.createTask .button{
  height: 40px;
  width: 95px;
  background: #028a0f;
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 10px;
  padding: 0px 10px;
  color: black;
  cursor: pointer;
}
@media only screen and (max-width: 667px) {
  .createTask #taskInput {
    max-width: 200px;

  }
  .flex {
    margin: 10px;
  }
}